*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A0B2E;

    

  font-family: "Inter", sans-serif;

  
  font-style: normal;
}


.navbar{
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    height: 5.75rem;
    padding: 30px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.nav-head{
    color: #FFFFFF;
}

.nav-head span{
    background: linear-gradient(
        to right, 
        #F7E93F,
        #FB09B4,
        #9100F8
    );

    background-clip: text;
}

.subscribe-btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
        to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;
    display: flex;
    gap: 5px;
    padding: 16px;
    border-radius: 30px;
    box-sizing: border-box;
    width: 135px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: none;
}

.banner{
   background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 760px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
    /* padding: 100px; */

}

.banner-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
    height: 450px;
}

.circle-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    /* top: -25%; */
    
}

.microphone-img{
    position: absolute;
    justify-self: center;
    height: 280px;
    /* top: 25%; */
}

.banner-info{
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    position: relative;
    /* top: -300px; */
    line-height: 50px;
}

.banner-head{
    font-size: 60px;
    font-weight: bolder;

}

.bannner-item{
    font-size: 16px;
    color: #ffffffdc;
}

.banner-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.spotify-btn{
    background: linear-gradient(
        to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;

        font-size: 16px;
        font-weight: 500;
        color: white;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}

.banner-subcribe-btn{
    border-radius: 30px;
    width: 147px;
    height: 44px;
    color: #00FF88;
    background-color: transparent;
    border: solid 1px #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}



.about-podcast{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6.25rem;
    margin: 50px auto;
}

.about-item{
    text-align: center;
  
}

.about-header{
    font-size: 50px;
    font-weight: bold;

    color: white;
}

.about-info{
    font-size: 16px;
    color: rgba(245, 245, 245, 0.795);
    line-height: 30px;
}

.about-cards{
    display: flex;
    
    color: #00FF88;
    gap: 150px;
    font-size: 30px;
    font-weight: bold;

}

.about-item span{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.836);
    font-weight: 300;
}

.features{
    background-color: #230E3D;
    padding: 120px 0;
   

}


.features-name{

    justify-self: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}



.features-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1400px;
    margin: 50px auto;
    gap: 30px;
}

.features-item1{
   color: white;
   grid-row: span 2;
   background-color: #35116550;
   padding: 130px 40px;
   border-radius: 40px;
}

.features-item2{
    grid-column: span 2;
    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}

.features-item3{
    grid-column: span 2;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}
.features-item4{
    grid-column: span 2;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}
.features-item5{
    grid-column: span 1;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}

.features-info{
    
    height: 144px;
    line-height: 24px;
    margin-top: 20px;
    font-size: 16px;
    font-weight:400;
    color: #ffffffd7;
}


.features-img{
    margin: 10px;
}
.features-content{
    font-size: 24px;
    font-weight: bold;
}
