*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A0B2E;
  font-family: "Inter", sans-serif;
  font-style: normal;
}


.navbar{
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    height: 5.75rem;
    padding: 30px;
    background-color: #1305299f;
}

.menu{
    width: 24;
    height: 24px;
    display: none;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.nav-head{
    color: #FFFFFF;

    font-size: 35px;
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1;
    font-size: 26px;
    font-weight: 600;
    border-radius: 30px;
    /* width: 70px;
    height: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px;
}

.nav-head span{
   background: linear-gradient(
     to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
;
}

.subscribe-btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
        to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;
    display: flex;
    gap: 5px;
    padding: 16px;
    border-radius: 30px;
    box-sizing: border-box;
    width: 135px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: none;
}

.banner{
   background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 760px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
    /* padding: 100px; */

}

.banner-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
    height: 450px;
}

.circle-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    /* top: -25%; */
    
}

.microphone-img{
    position: absolute;
    justify-self: center;
    width: 200px;
    height: auto;
    /* top: 25%; */
    animation:
     floatmic 4s ease-in-out infinite;
}

@keyframes floatmic{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(-18px)rotate(180deg);
    }

    100%{

        transform: translateY(0) rotate(0deg);
    }



}

.banner-info{
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    position: relative;
    /* top: -300px; */
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.banner-head{
    font-size: 60px;
    font-weight: bolder;

}

.bannner-item{
    font-size: 16px;
    color: #ffffffdc;
    margin-bottom: 24px;
}

.banner-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.spotify-btn{
    background: linear-gradient(
        to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;

        font-size: 16px;
        font-weight: 500;
        color: white;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}

.banner-subcribe-btn{
    border-radius: 30px;
    width: 147px;
    height: 44px;
    color: #00FF88;
    background-color: transparent;
    border: solid 1px #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}



.about-podcast{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6.25rem;
    margin: 50px auto;
}

.about-item ,.card-item{
    text-align: center;
  
}

.about-header{
    font-size: 50px;
    font-weight: bold;

    color: white;
}

.about-info{
    font-size: 16px;
    color: rgba(245, 245, 245, 0.692);
    line-height: 30px;
    font-weight: 500;
}

.about-cards{
    display: flex;
    
    color: #00FF88;
    gap: 150px;
    font-size: 30px;
    font-weight: bold;

}
.about-item h3{
    font-size: 50px;
    font-weight: bold;
}

.card-item span{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.836);
    font-weight: 300;
}

.features{
    background-color: #1d0638;
    padding: 120px 0;
   

}


.features-name{

    justify-self: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}



.features-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1400px;
    margin: 50px auto;
    gap: 30px;
}

.features-item1{
   color: white;
   grid-row: span 2;
   background-color: #35116550;
   padding: 130px 40px;
   border-radius: 40px;
}

.features-item2{
    grid-column: span 2;
    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}

.features-item3{
    grid-column: span 2;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}
.features-item4{
    grid-column: span 2;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}
.features-item5{
    grid-column: span 1;

    background-color: #35116550;
    padding: 40px;
    border-radius: 40px;
    color: white;
}

.features-info{
    
    height: 144px;
    line-height: 24px;
    margin-top: 20px;
    font-size: 18px;
    font-weight:600;
    color: #ffffff8a;
}


.features-img{
    margin: 10px;
}
.features-content{
    font-size: 24px;
    font-weight: bold;
}

.episodes{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 120px;
}

.episodes-content{
    display: flex;

    justify-content: space-between;
}


.episodes-item{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 20px;
    overflow: hidden;
}

/* iframe{
    max-width: 400px;
    height: auto;
} */

.episode-header{
    font-size: 24px;
    font-weight: bold;
    color: white;

}


.episode-description{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.episode-info{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 24px;
}

.episode-runtime{
    color: #00FF88;
    display: flex;

    align-items: center;
    gap: 6px;
}

.episodes-name{
    display: flex;
    justify-self: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.host{
    max-width: 1400px;
    margin: 120px auto;
    
}

.host-header{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.host-content{
    display: flex;
    padding: 50px 40px;
    gap: 40px;
    background-color: #35116554;
    border-radius: 30px;
}

.host-name{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
}

.host-passion{
    color: #ffffff98;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 16px;
}

.host-social{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.host-social a{
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
  

}

/* footer{
    background-image: url(./assets/footer-bg.png);
    height: 412px;
    background-size: cover;
    background-repeat: no-repeat;
} */

footer{
    background-image: url(./assets/footer-bg.png);
    height: 412px;
    background-size: cover;
    background-repeat: no-repeat;

}

.footer-content{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

    gap: 32px;
    width: 100%;
    height: 412px;

}

.footer-social{
    list-style: none;
    display: flex;
    gap: 40px;

}

.footer-head{
    font-size: 7rem;
    font-weight: bold;
    color: white;
}

.footer-head span{
background: linear-gradient(
     to right,
        #f7e83f,
        #FB09B4,
        #9100F8) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
;}

.f-list a{
    display: flex;
    gap: 8px;
    color: #ffffffbd;
    text-decoration: none;
    font-size: 20px;
}

.footer-content .copyright {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
}


.hideen{
    display: none;
}

@media  screen and (max-width:576px) {

    .nav-links{display: none;}
    .subscribe-btn{display: none;}


    .menu{
        display: block;
        order: 3;
        width: 30px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        /* padding: 0; */

    }

    .banner{
   
    background-repeat: no-repeat;
    height: 466px;
    background-size: contain;
}


.circle-img { width: 200px;
    height: auto;
    top: 10px;

}
.microphone-img{
    width: 80px;
    height: auto;
    top: 50px;
}

.new{
    top: 15px;
    right: 120px;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    /* width: 70px;
    height: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px;
}

.banner-info{
  
    /* position: sticky; */
    max-width: 400px;
  
}

    .about-info{
        line-height: 20px;
        padding-top: 20px;
        font-size: 16px ;
        font-weight: 400;

    
}

br{
    display: none;
}

.about-item{
    max-width: 350px;
    
}
.about-header{
    font-size: 32px;
}


    .about-cards{
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2,1fr) ;
        max-width: 400px;
        
       

    }

    .features{
        padding: 30px 0px;
    }

  
    .features-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 400px;
    
}

.features-item1, .features-item2, .features-item3, .features-item4, .features-item5{

    max-width: 400px ;
    /* height: 215px; */
    padding: 25px;
    border-radius: 30px;
  
}

.features-name{
    font-size: 2rem;
    
}

.episodes-content{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

iframe{
    max-width: 400px;
    
}

.episodes-item{

   max-width: 400px;
}

.episodes-name{
    
    font-size: 32px;
    
    margin-top: 0px;
}

   .host{
    max-width: 400px;
    margin: 50px auto;

}
    .host-content{
    display: flex;
    justify-content: center;

    flex-direction: column;
    text-align: center;
    padding: 50px 40px;
    gap: 40px;
    background-color: #35116554;
    border-radius: 30px;
}

.host-img{
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.host-social{

    justify-content: center;
    

}

footer{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: #280e49 ;
    max-height: 250px;

}

.footer-content{

    margin: 40 20px;
    max-width: 400px;
    gap: 15px;
    /* padding: 40px 20px; */
    
    max-height: 168px;
}

.footer-social{
  flex-wrap: wrap;
      gap: 20px;
      max-width: 355px;
     
}

.footer-head{
    font-size: 3.1rem;
    font-weight: bold;
    color: white;
} 

.f-list a{
    
    font-size: 18px;
    font-weight: 400px;
}

.footer-content .copyright {
   
    font-size: 16px;
    font-weight: 100;
    width: 400px;
    justify-self: center;
    margin: 0 auto;
}


}